# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# google cloud
cloud_sql_proxy.exe

# enviroment setting
.vscode
*/.env
fangoo-282204-*.json

# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
